@charset "UTF-8";
/* CSS Document */
@import http://fonts.googleapis.com/css?family=Roboto+Condensed;
#main {
	width:960px;
	margin:150px auto;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}

span.error {
	color:red;
	margin-left:38px;
}

span {
	color:#2980b9;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}

aside {
	float: right;
	margin-right: 180px;
	margin-top: 70px;
}
h2 {
	background-color:#FEFFED;
	text-align:center;
	border-radius:10px 10px 0 0;
	margin:-10px -40px;
	padding:15px
}

hr {
	border:0;
	border-bottom:1px solid #ccc;
	margin:10px -40px;
	margin-bottom:30px
}

#login {
	width:320px;
	float:left;
	border-radius:10px;
	background-color:white;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	border:1px solid #ccc;
	padding:10px 20px 10px;
	margin-top:10px;
	margin-left:320px
}

#loginform {
	width: 435px;
	height: 700px;
	float: center;
	border-radius: 10px;
	background-color: white;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
	border: 1px solid #ccc;
	padding: 10px 30px 5px;
	margin-top: 79px;
	margin-left: 55px
}

input[type=text],
input[type=password] {
	width: 275px;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #ccc;
	padding-left: 5px;
	font-size: 16px;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
	margin-top: 10px
}

input[type=text1] {
	width: 150px;
	border: 1px solid #ccc;
	font-size: 13px;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;
}

input[type=regis] {
	width: 350px;
	padding: 10px;
	margin-top: 8px;
	border: 1px solid #ccc;
	padding-left: 5px;
	font-size: 13px;
	font-family: "Myriad Pro", "Trebuchet MS", sans-serif;

}

input[type=submit], 
input[type=button] {
	width:275px;
	background-color:#2980b9;
	color:#fff;
	border:2px solid #2980b9;
	padding:8px;
	font-size:15px;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:2px;
	margin-top:8px
}

input[type=signup] {
	width:275px;
	background-color:#2980b9;
	color:#fff;
	border:2px solid #2980b9;
	padding:8px;
	font-size:15px;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:2px;
	text-align:center;
	margin-top:8px
}

#profile {
	padding:10px;
	border:1px;
	font-size:15px;
	/*background-color:#B2DFDB*/
}
			
#logout {
	padding:2px;
	margin: center;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}

a {
	text-decoration:none;
	color:black
}

i {
	color:#2980b9
}

body {
	margin:0;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:15px;
	background-color:#2c3e50;
	background-size:100%;
	border-style:none;
}

#page {
	background: #2c3e50;
	margin:0 auto;
	width:100%;
	height:100%;
}

#halamanbawah {
	height:1000px;
	margin-top:50px;
}

.horizon-menubawah {
	list-style-type: none;
	margin-top:50px;
	padding: 100px;
}

.demo-container {
	margin:10px;
}

.horizon-menu {
	list-style-type: none;
	padding: 10px;
	border-radius: 5px;
	background-color: gainsboro;
}

.horizon-menu a {
	text-decoration:none;
	color:white;
	font-weight:bold
}

.horizon-menu li {
	display:inline;
	margin:5px 0
}

.horizon-menu li:before {
	content:' | ';
	color:rgba(0,0,0,.1)
}
	
.horizon-menu li:first-child:before {
	content:' '
}

.horizon-menu li a {
	margin-right:10px;
	margin-left:10px;
	padding:10px;
	border-radius:5px;
}

.horizon-menu li a:hover {
	background-color: gainsboro;
}
	
#isi {
	font-family: "Futura";
	color: black;
}
	
.marginkanankiri {
	margin-left:200px;
	margin-right:200px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

/*dropdown*/

ul.sdt_menu{
	margin:0;
	padding:0;
	list-style: none;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	font-size:14px;
	width:1020px;
}
ul.sdt_menu a{
	text-decoration:none;
	outline:none;
}
ul.sdt_menu li{
	float:left;
	width:170px;
	height:85px;
	position:relative;
	cursor:pointer;
}
ul.sdt_menu li > a{
	position:absolute;
	top:0px;
	left:0px;
	width:170px;
	height:85px;
	z-index:12;
	background:transparent url(../images/overlay.png) no-repeat bottom right;
	-moz-box-shadow:0px 0px 2px #000 inset;
	-webkit-box-shadow:0px 0px 2px #000 inset;
	box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
	border:none;
	position:absolute;
	width:0px;
	height:0px;
	bottom:0px;
	left:85px;
	z-index:100;
	-moz-box-shadow:0px 0px 4px #000;
	-webkit-box-shadow:0px 0px 4px #000;
	box-shadow:0px 0px 4px #000;
}
ul.sdt_menu li span.sdt_wrap{
	position: absolute;
	top: 13px;
	left: -39px;
	width: 170px;
	height: 60px;
	z-index: 15;
}
ul.sdt_menu li span.sdt_active{
	position: absolute;
	background: #111;
	top: 84px;
	width: 170px;
	height: 0px;
	left: -37px;
	z-index: 14;
	-moz-box-shadow: 0px 0px 4px #000 inset;
	-webkit-box-shadow: 0px 0px 4px #000 inset;
	box-shadow: 0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
	margin-left:15px;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
	color:#fff;
	font-size:24px;
	float:left;
	clear:both;
}
ul.sdt_menu li span span.sdt_descr{
	color:#2980b9;
	float:left;
	clear:both;
	width:155px; /*For dumbass IE7*/
	font-size:10px;
	letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
	display:block;
	position:absolute;
	width:170px;
	overflow:hidden;
	height:170px;
	top:85px;
	left:0px;
	display:none;
	background:#000;
}
ul.sdt_menu li div.sdt_box a{
	float:left;
	clear:both;
	line-height:30px;
	color:#2980b9;
}
ul.sdt_menu li div.sdt_box a:first-child{
	margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
	color:#fff;
}

label{
	font-family: 'Roboto Condensed', sans-serif;
}
