	body{
		margin:0;
		font-family:"Futura Md Bt";
		font-size:15px;
		background-color:;
		background-size:100%;
		border-style:none;
	}
	#halaman{
		background-image:url();
		margin:0 auto;
		width:1150px;
		height:300px;
		border-radius:0px;
	}
	#halamanbawah{
		height:150px;
		margin-top:50px;
	}
	.demo-container{
		margin:10px;
	}
	.horizon-menu{
		list-style-type: none;
		padding: 0;
		margin: 0;
		padding: 10px;
		border-radius: 5px;
		box-shadow:	;
		background-color: #FCC;
	}
	.horizon-menu a{
		text-decoration:none;
		color:#111;
		font-weight:bold
	}
	.horizon-menu li{
		display:inline;
		margin:5px 0
	}
	.horizon-menu li:before{
		content:' | ';
		color:rgba(0,0,0,.1)
	}
	.horizon-menu li:first-child:before{
		content:' '
	}
	.horizon-menu li a{
		margin-right:5px;
		margin-left:5px;
		padding:10px;
		border-radius:5px;
		-webkit-transition:background-color 500ms ease-in-out;
		-moz-transition:background-color 500ms ease-in-out;
	}
	.horizon-menu li a:hover{
		background-color: #ffffff;
	}
	.horizon-menubawah{
		list-style-type: none;
		margin: 0;
		margin-top:50px;
		padding: 80px;
		border-radius: 0;
	
		box-shadow:	;
		background-color: #F99;
	}
	#isi{
	font-family: "Century Gothic";
	border-radius: 0px;
	border: transparant;
	margin-top: 0px;
	margin-right: 0px;
	color: #000000;
	text-align: left;
	}
	.marginkanankiri{
		margin-left:200px;
		margin-right:200px;
	}
	.menuwhatsnew{
		list-style-type: none;
		padding: 0;
		margin-left:130px;
		margin-right:870px;
		padding: 5px;
		border-radius: 2px;
		box-shadow:	;
		background-color: #CCC;
		text-align:center;
		font-size:11px;
		color:#F03;
	}
	.margintable{
		margin-left:105px;
		margin-right:105px;
	}
