body {
	background: #34495e;
}

a {
	text-decoration: none;
	color: #787878;
}

a:hover {
	color: #E74C3C;
}

.main {
	font-family: 'Open Sans', sans-serif;
	margin:7em auto 0;
}

form span {
	display: block;
	font-size: 1em;
	color: #787878;
	padding-bottom: 5px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.login {
	background: #ffffff;
	position:relative;
	padding: 2em 2em;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
}

.textbox {
	padding: 9px;
	width: 90%;
	font-size: 1.1em;
	margin: 18px 0px;
	border: 2px solid#EAEEF1;
	color: #666666;
	background:#EAEEF1;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	margin-left: 5px;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.textbox:hover,#active{
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}

.submit {
	background: #E74C3C;
	border: none;
	outline: none;
	padding: 0.55em 1.3em 0.6em;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 0.9em;
	border-radius: 1.3em;
	-webkit-border-radius: 1.3em;
	-moz-border-radius: 1.3em;
	-o-border-radius: 1.3em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-weight: 600;
}

.submit:hover{
	background:#666666;
}

