*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  /* Removes padding behaviour on widths */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #eee;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-weight: 400;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}

header {
  background: rgb(140, 193, 193);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0px;
}

header > nav {
  background-color: white;
  display: none;
  flex: 1;
  transform: 300ms all ease;
}

header nav > ul {
  list-style-type: none
}

header nav > ul > li {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  position: relative;
}

header nav > ul > li > a {
  display: block;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 700;
  padding: 1.5rem 0;
  text-decoration: none;
  transition: 250ms all ease;
}

header nav > ul > li:last-of-type {
  border-bottom: none;
}

header nav > ul > li > a span.toggle {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3rem;
  color: rgba(0, 0, 0, .25);
  font-size: 0.75em;
  font-weight: 500;
  padding: 2px 8px;
  text-transform: lowercase;
}

header nav > ul > li > a span.caret {
  display: none;
}

header > nav > ul > li:hover > a {
  color: rgb(140, 193, 193);
}

header > nav > ul > li > nav {
  background-color: rgb(51, 51, 51);
  border-radius: 1.5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  display: none;
  overflow: hidden;
  position: absolute;
  right: 5%;
  width: 90%;
  z-index: 100;
}

header > nav > ul > li > nav > ul > li > a {
  color: rgba(255, 255, 255, 0.85);
  transition: 300ms all ease;
}

header > nav > ul > li > nav > ul > li:hover > a {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 1);
}

header > div#logo {
  line-height: 70px;
  position: relative;
}

header > div#logo > h1 {
  color: white;
  font-weight: 300;
  text-transform: uppercase;
}

header > div#logo > div#navToggle {
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0;
  top: 0;
  transition: 300ms all ease;
}

header > div#logo > div#navToggle:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

header > div#logo > div#navToggle > a {
  color: rgba(255, 255, 255, 0.85);
  display: block;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0 2.5rem;
  text-decoration: none;
  transition: 300ms all ease;
}

header > div#logo > div#navToggle:hover > a {
  color: rgba(255,255,255,1);
}

header > .menuDown {
  box-shadow: 0 3px 5px rgba(0,0,0,.15);
}

header > .menuUp {
  box-shadow: none;
}
/* Medium screens */
@media all and (min-width: 600px) {
  header > div#logo > div#navToggle {
    display: none;
  }

  header {
    background-color: white;
    flex-direction: row;
    line-height: 90px;
    padding: 0 3rem;
    position: fixed;
    text-align: left;
    width: 100%;
  }

  header > div#logo {
    background-color: transparent;
    line-height: 90px;
  }

  header > div#logo > h1 {
    color: rgb(140, 193, 193);
  }

  header nav > ul > li > a span.toggle {
    display: none;
  }

  header nav > ul > li > a span.caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid rgba(0, 0, 0, 0.65);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 1px;
    content: "";
    display: inline-block;
    height: 0;
    margin: 0 0 0 .25rem;
    transition: 250ms all ease;
    width: 0;
    vertical-align: middle;
  }

  header nav > ul > li:hover > a span.caret {
    border-top-color: rgb(140, 193, 193);
    transform: rotate(270deg);
  }

  header > nav {
    background-color: transparent;
    display: block;
  }

  header > nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  header  nav > ul > li {
    border-bottom: none;
  }

  header nav > ul > li > a {
    padding: 0 1.25rem;
  }

  header > nav > ul > li:hover > nav {
    background-color: rgb(51, 51, 51);
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    display: block;
    line-height: 3em;
    right: -50%;
    width: 196px;
  }
}

h2 {
	color: rgb(34,34,34);
	font-size: 2.2em;
	font-weight: 200;
	margin: 0 0 24px 0;
}

section#login-box {
	background-color: rgb(255,255,255);
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
	margin: 200px auto 0px; /*aligns center*/
	padding: 24px;
	width: 500px;
}

form.minimal label {
	display: block;
	margin: 6px 0;
}

form.minimal input[type="text"],
form.minimal input[type="email"],
form.minimal input[type="number"],
form.minimal input[type="search"],
form.minimal input[type="password"],
form.minimal textarea {
	background-color: rgb(255,255,255);
	border: 1px solid rgb( 186, 186, 186 );
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
	display: block;
	font-size: 14px;
	margin: 6px 0 12px 0;
	padding: 8px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	width: 100%;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	  transition: all 0.1s linear;
}

[class*='btn-'] {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,.15);
	border-top: 1px solid rgba(255,255,255,.15);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font: -webkit-small-control;
	font-size: .7em;
	letter-spacing: 1px;
	line-height: 140%;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;

	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	  transition: all 0.1s linear;
}

.btn-minimal {
	background-color: rgb(255,255,255);
	border-radius: 0;
	border: 1px solid rgb( 186, 186, 186 );
	color: rgb( 186, 186, 186 );
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.btn-minimal:hover {
	background-color: #4195fc;
	border: 1px solid rgba(0,0,0,.1);
	color: rgb(255,255,255);
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.btn-minimal:active {
	box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

section#login-help {
  margin: 20px auto;
}

section#login-help p {
  text-align: center;
}
/* Attribute selector */
[class*='col-'] {
  float: left;
  padding: 10px;
}

/* Main Widths */
.col-1 {width: 10%; }
.col-2 {width: 20%; }
.col-3 {width: 30%; }
.col-4 {width: 40%; }
.col-5 {width: 50%; }
.col-6 {width: 60%; }
.col-7 {width: 70%; }
.col-8 {width: 80%; }
.col-9 {width: 90%; }
.col-10 {width: 100%; }

/*base mobile styles - everything 100%*/
@media (max-width: 480px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10{
    width: 100%;
  }
}

/* Clearfix */
.row:after {
  content: "";
  display: table;
  clear: both;
}
