@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Lato:100);

body {
   background-image: url("honeycomb-bg.jpg");
   font-family: arial;
}

#loginbox {	
	width:300px;
	float: right;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;
	background: rgba(255, 255, 255, 0.95);
	padding: 40px 65px 20px;
	margin-top: 70px;
	margin-right: 70px;
}

#regisbox{
	width:400px;
	float: right;
	border-radius: 15px;
	font-family: 'Open Sans', sans-serif;
	background: rgba(255, 255, 255, 0.95);
	padding: 40px 65px 30px;
	margin-top: 70px;
	margin-right: 70px;
}

#loginbox span{
	display: inline-block;
	font-size: 36px;
	text-align: left;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    margin-bottom: 30px;
}


input[type=text], input[type=password]{
	width:99.5%;
	padding:10px;
	margin-top:8px;
	border:1px solid #bbb;
	font-size:19px;
}

select{
	width:45%;
	padding:10px;
	margin-top:8px;
	border:1px solid #bbb;
	font-size:19px;
}

input[type=submit], input[type=button]{
	width:100%;
	background-color:#049804;
	border:2px solid #049804;
	color:#fff;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	margin-bottom:15px;
	text-align: center;
}

#bottomtext{
	float:left;
	color:#fff;
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;

	position: fixed;
	bottom: 10;
	left: 25;
	width: 100%;
	text-align: left;
}

#navigation {
	text-align: left;
	margin: 20px 50px;
}

a {
	color:#111;
}

#summary {
	text-align: center;
	font-size: 0.9em;
	margin-bottom: 70px;
}

.formrow {
	margin: 30px 50px;
}

input,textarea,select {
	margin: 8px 0px 10px 0px;
}

label {
	margin:8px 0px;
}

.photo {
	float: left;
	margin: 0px;
}

#contact {
	font-size: 1em;
}

pre {
	font-family: sans-serif;
    margin: 0;
}

.inline-nav {
	list-style-type: none;
	margin-bottom: 40px;
}

.inline-nav li{
	display: inline;
	margin-right:40px;
}

#kurs th,td {
	padding:5px;
}

#fadefont li {
    color: #fff;
    font: 100 92px/1 'lato';
    text-transform: uppercase; }
    #fadefont li .kern {
      margin: 0 0 0 6px; }
    #fadefont li:nth-child(1) {
      opacity: 0.3; }
    #fadefont li:nth-child(2) {
      opacity: 0.4; }
    #fadefont li:nth-child(3) {
      opacity: 0.5; }
    #fadefont li:nth-child(4) {
      opacity: 0.6; }
    #fadefont li:nth-child(5) {
      opacity: 0.7; }
    #fadefont li:nth-child(6) {
      opacity: 0.8; }
}